<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <style>
        a.no-underline {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center my-4">
    <div><h2>Welcome to User Management</h2></div>
    <div class="text-center bg-primary text-white py-3">
        <a class="h3 no-underline" th:href="@{/users/new}">Add New User</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center mb-3">
        [[${message}]]
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-bordered ">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enabled</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${listUsers}">
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.enabled}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm mx-1" th:href="@{'/users/edit/' + ${user.id}}">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                        <a class="btn btn-danger btn-sm mx-1" th:href="@{'/users/delete/' + ${user.id}}">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>